<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>398715294241-ahnmadma64i1575cv5lq4bnrv3csi974.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.398715294241-ahnmadma64i1575cv5lq4bnrv3csi974</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>398715294241-q0kttfa63g38jt8cu5prq78j45772a5i.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyBsjTIJc-zC4JC-pCUs6KsQvwBqUf18O0o</string>
		<key>GCM_SENDER_ID</key>
		<string>398715294241</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>edu.ctuonline.campus</string>
		<key>PROJECT_ID</key>
		<string>cec-mobile-70f55</string>
		<key>STORAGE_BUCKET</key>
		<string>cec-mobile-70f55.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:398715294241:ios:8339bbaa03fb7e8b</string>
		<key>DATABASE_URL</key>
		<string>https://cec-mobile-70f55.firebaseio.com</string>
	</dict>
</plist>