<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>173432875800-vb6vgfpbjqp3b8d4nf493hudqs14glgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173432875800-vb6vgfpbjqp3b8d4nf493hudqs14glgb</string>
	<key>API_KEY</key>
	<string>AIzaSyAwSgAruW2Yh8F-5ZupWu_3ZiLTcaDsE44</string>
	<key>GCM_SENDER_ID</key>
	<string>173432875800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.coloradotech.studentmobile</string>
	<key>PROJECT_ID</key>
	<string>ctu-faculty-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>ctu-faculty-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173432875800:ios:ec1e5b90808608ca</string>
	<key>DATABASE_URL</key>
	<string>https://ctu-faculty-prod.firebaseio.com</string>
</dict>
</plist>