@pec:registry=http://evm-apptfs100:8080/tfs/CEC/_packaging/Mobile_Feed/npm/registry/
registry=https://registry.npmjs.org/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 6/6/2023.
; begin auth token
//evm-apptfs100:8080/tfs/CEC/_packaging/Mobile_Feed/npm/registry/:username=Mobile_Feed
//evm-apptfs100:8080/tfs/CEC/_packaging/Mobile_Feed/npm/registry/:_password=bXpwN2RneGY1dnJuMmJ4dXJ5Nm9pd3g2anFieXhmeWUzbGlraGJtZGZ2eGs3aTU3Y3MycQ==
//evm-apptfs100:8080/tfs/CEC/_packaging/Mobile_Feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//evm-apptfs100:8080/tfs/CEC/_packaging/Mobile_Feed/npm/:username=Mobile_Feed
//evm-apptfs100:8080/tfs/CEC/_packaging/Mobile_Feed/npm/:_password=bXpwN2RneGY1dnJuMmJ4dXJ5Nm9pd3g2anFieXhmeWUzbGlraGJtZGZ2eGs3aTU3Y3MycQ==
//evm-apptfs100:8080/tfs/CEC/_packaging/Mobile_Feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
