<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="require-sri-for script; default-src gap://ready file://* *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src 'self' 'unsafe-inline' *; img-src 'self' data: *" />
      </customHeaders>
    </httpProtocol>
	  <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
	    <clientCache cacheControlCustom="private" cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
  </system.webServer>
</configuration>
