<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>924718124336-qbq6d4n8rjsi51tki338ls386530p572.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.924718124336-qbq6d4n8rjsi51tki338ls386530p572</string>
    <key>API_KEY</key>
    <string>AIzaSyBTDhqNRKW0P7GYl7WLc2DycaHWFD71tdI</string>
    <key>GCM_SENDER_ID</key>
    <string>924718124336</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>edu.aiu.studentappdev</string>
    <key>PROJECT_ID</key>
    <string>student-mobile-dev-projects</string>
    <key>STORAGE_BUCKET</key>
    <string>student-mobile-dev-projects.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:924718124336:ios:e632a6291946943d1d4cf5</string>
    <key>DATABASE_URL</key>
    <string>https://student-mobile-dev-projects.firebaseio.com</string>
  </dict>
</plist>